.home {
	 left: 50%;
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%) translateX(-50%);
}
.home__content {
	 border-radius: 8px;
	 box-shadow: 0 6px 17px 0 rgba(0, 0, 0, .21);
	 height: 88vh;
	 margin: 0 auto;
	 overflow: hidden;
	 width: 95vw;
}
.home .fadeIn {
	 opacity: 1;
	 transition: opacity 0.3s 0.2s;
}
